html {
  font-family: "Times New Roman", Times, sans-serif;
}

* {
  color: black;
}

body {
  background-color: rgb(220, 222, 238);
}

h1 {
  color: rgb(72, 71, 168);
  margin-bottom: 0.25em;
}

h2 {
  color: black;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

h3 {
  color: rgb(72, 71, 168);
}

a {
  color: rgb(72, 71, 168);
}

section {
  margin-bottom: 3em;
}

.contacts {
  margin-bottom: 2em;
}

.cv {
  max-width: 900px;
  margin: 0 auto;
}

.contact {
  display: flex;
}

.contact__type {
  min-width: 80px;
}

.expirience {
  display: flex;
  margin-bottom: 2em;
}

.expirience__date {
  min-width: 170px;
  margin-bottom: 1em;
}

.expirience__name {
  font-weight: bold;
}

@media (max-width: 575px) {
  .expirience {
    display: block;
  }
}

.footer {
  background-color: blueviolet;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 19px;
  font-weight: bold;
  color: aliceblue;
  padding: 9px;
}

.footer a {
  text-decoration: none;
  margin-left: 25px;
}
